body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px
}

#cy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    max-width: 70%;
}

h1 {
    opacity: 0.5;
    font-size: 1.5em;
    font-weight: bold;
}

.popper-div {
    border: 1px solid cornflowerblue;
    background: #fff;
    z-index: 9999;
    padding: 0.1em;
    pointer-events: none;
}

#container {
    position: absolute;
    float: right;
    top: 0;
    z-index: 1;
    right: 0;
    width: 30%;
    height: 100%;
}

#titleArea {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 15%;
    background: rgb(88, 88, 88);
}

#contentArea {
    position: absolute;
    top: 15%;
    z-index: 1;
    width: 100%;
    height: 85%;
    background: rgb(155, 155, 155);
}

#branchArea {
    font-size:2vw;
    text-align: center;
}